<app-breadcrumb></app-breadcrumb>

<div>
  <h1 class="primary-color center-align">
    Cat Puns
  </h1>
</div>

<div>
  <md-grid-list cols="2" rowHeight="400px">
    <md-grid-tile *ngFor="let pun of meowData.catPuns">
      <md-card class="card-width-height">
      <img src="/assets/img/cat-emoji.jpg" alt="cat emoji picture">
    <md-card-content>
      <div>
        {{pun.pun}}
      </div>
      <div>
        {{pun.answer}}
      </div>
    </md-card-content>
  </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>