<app-breadcrumb></app-breadcrumb>

<div>
  <h1 class="primary-color center-align">
    Cow Puns
  </h1>
</div>

<div>
  <md-tab-group>
    <md-tab *ngFor="let pun of mooData.cowPuns" label="{{pun.label}}">
      <div class="center-align">
        <div class="margin-top-100">
          {{pun.pun}}
        </div>
        <div class="margin-top-10">
          {{pun.answer}}
        </div>
        <div class="margin-top-10">
          <button md-raised-button color="accent" (click)="openSnackbar()">
            Click if you thought that was funny!
          </button>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>