<md-sidenav-container fullscreen>
    <md-sidenav #sidenav mode="side">
        <md-toolbar>
            <span>
                <button md-button routerLink="/home">Home 😂</button>
            </span>
            <md-toolbar-row>
                <button md-button routerLink="/meow">Meow 😺</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-button routerLink="/moo">Moo 🐮</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-button routerLink="/banana">Banana 🍌</button>
            </md-toolbar-row>
        </md-toolbar>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <button md-button routerLink="/home">Punny 😂</button>
    </md-toolbar>
    <div class="body-margin">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
