<h1 class="primary-color center-align">
  Welcome to Punny! 😂
</h1>
<div class="center-align accent-color">
  <p>
    This app shows you how to use 12 different Angular Material components!
  </p>
  <p>
    You can find the starter and finished branches on <a href="https://github.com/ladyleet/ng-vikings-one">github</a>.
  </p>
  <p>
    Slides associated: <a href="https://www.slideshare.net/ladyleet/angular-material-2-ngvikingsconf">SlideShare</a>
  </p>
  <p>
    Question? Find me on Twitter <a href="http://twitter.com/ladyleet">@ladyleet</a>.
  </p>
</div>
<div class="center-align margin-top-10">
  <button md-raised-button color="accent" (click)="openDialog()">Instructions</button>
</div>
<div>
  <md-grid-list cols="2">
    <md-grid-tile *ngFor="let pun of homeData.puns">
      <div>
        <img src="/assets/img/{{pun.image}}" alt="{{pun.altText}}" routerLink="{{pun.route}}" mdTooltip="{{pun.toolTip}}">
        <md-chip-list>
          <md-chip>
            {{pun.chip1}}
          </md-chip>
          <md-chip>
            {{pun.chip2}}
          </md-chip>
          <md-chip>
            {{pun.chip3}}
          </md-chip>
        </md-chip-list>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>